<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of headers">
        <a class="header-title" (click)='sort(header?.value)'>{{header?.name}}</a>
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th *ngFor="let header of headers">
        <input type="text" class="form-control" *ngIf="header?.isSearchable" [(ngModel)]="header.search">
      </th>
      <th><button class="btn btn-primary" (click)='filterBugs()'>Filter</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td *ngFor="let header of headers">
        <span *ngIf="header?.value !== 'createdAt' && header?.value !== 'updatedAt';else date">{{bug[header?.value]}}</span>
        <ng-template #date>{{bug[header?.value] | date:'medium'}}</ng-template>
      </td>
      <td>
        <a [routerLink]='["/bug", bug.id]'>Edit</a>
      </td>
    </tr>
  </tbody>
</table>

<div class="default-margin">
  <button class="btn btn-primary" (click)='leftPage()' [disabled]='currentPage-1 < 0'> &lt; </button>
  <button class="btn btn-primary" style="float: right" (click)='rightPage()' [disabled]='!(hasNextPage$ | async)'> &gt; </button>
</div>

