<div class="row">
  <div class="col-xs-12">
      <a class="btn btn-primary" style="float:right" routerLink="/bug">
        Create bug
      </a>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let header of headers">
        <a (click)='sort(header?.value)'>{{header?.name}}</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bug of bugs">
      <td *ngFor="let header of headers">
        <span *ngIf="header?.value !== 'createdAt' && header?.value !== 'updatedAt';else date">{{bug[header?.value]}}</span>
        <ng-template #date>{{bug[header?.value] | date:'medium'}}</ng-template>
      </td>
    </tr>
  </tbody>
</table>
