<form class="form" [formGroup]='bugForm' [class.was-validated]="bugForm.invalid && bugForm.dirty" (submit)="formSubmit()">
  <div class="form-row" [ngClass]="{'has-error': titleFormControl.invalid && titleFormControl.dirty}" style="margin-top: 15px;">
    <div class="col-md-6 mb-3">
      <label class="form-control-label">Title</label>
      <input class="form-control" formControlName='title' type="text" name="title">
      <div *ngIf="bugForm.get('title').invalid && bugForm.get('title').dirty" class="invalid-feedback">
        {{titleFormControlErrorMessage}}asdasd
      </div>
    </div>
  </div>
  <div class="form-row" [ngClass]="{'has-error': titleFormControl.invalid && titleFormControl.dirty}">
    <div class="col-md-6 mb-3">
      <label class="form-control-label">description</label>
      <input class="form-control" type="text" name="description" formControlName='description'>
      <div *ngIf="bugForm.get('description').invalid && bugForm.get('description').dirty" class="invalid-feedback">
        {{descriptionFormControlErrorMessage}}
      </div>
    </div>
  </div>
  <div class="form-row" [ngClass]="{'has-error': titleFormControl.invalid && titleFormControl.dirty}">
    <div class="col-md-6 mb-3">
      <label class="form-control-label">Priority</label>
      <select class="form-control" formControlName='priority' name="priority">
        <option [ngValue]="null">Select</option>
        <option *ngFor="let priority of priorities">
          {{priority}}
        </option>
      </select>
      <div *ngIf="bugForm.get('priority').invalid && bugForm.get('priority').dirty" class="invalid-feedback">
        {{priorityFormControlErrorMessage}}
      </div>
    </div>
  </div>
  <div class="form-row" [ngClass]="{'has-error': titleFormControl.invalid && titleFormControl.dirty}">
    <div class="col-md-6 mb-3">
      <label class="form-control-label">Reporter</label>
      <select class="form-control" formControlName='reporter' name="reporter">
        <option [ngValue]="null">Select</option>
        <option *ngFor="let reporter of reporters">
          {{reporter}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-row" [ngClass]="{'has-error': titleFormControl.invalid && titleFormControl.dirty}">
    <div class="col-md-6 mb-3">
      <label class="form-control-label">Status</label>
      <select class="form-control" formControlName="status" name="status">
        <option [ngValue]="null">Select</option>
        <option *ngFor="let status of statusTypes">
          {{status}}
        </option>
      </select>
      <div class="invalid-feedback">
        <br/>
        {{statusFormControlErrorMessage}}
      </div>
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="!bugForm.valid">Submit</button>

</form>

<div *ngIf="id">
  <br>
  <codehub-bug-comment-table [comments]='bug?.comments'></codehub-bug-comment-table>
  <hr>
  <codehub-bug-comment (postComment)='postComment($event)'></codehub-bug-comment>
</div>
