<form class="form" [formGroup]='bugForm' [class.was-validated]="bugForm.invalid && bugForm.dirty"
      (submit)="formSubmit()">

  <div class="form-row" [ngClass]="{'has-error': titleFormControl.invalid && titleFormControl.dirty}">
    <div class="col-md-2 mb-3">
      <label class="form-control-label">Title</label>
      <input class="form-control" formControlName='title' type="text" name="title">
      <div *ngIf="bugForm.get('title').invalid && bugForm.get('title').dirty" class="invalid-feedback">
        {{titleFormControlErrorMessage}}
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-control-label">description</label>
      <input class="form-control" type="text" name="description" >
      <div *ngIf="description.invalid && description.dirty" class="invalid-feedback">
        Field is required
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-control-label">Priority</label>
      <select #priority="ngModel" name="priority"
            [(ngModel)]="bug.priority">
            <!-- (change)="favLangSetValidity($event)"> -->
      <option [ngValue]="null">Select</option>
      <option *ngFor="let priority of priorities">
        {{priority}}
      </option>
    </select>
   </div>
   <div class="col-md-6 mb-3">
      <label class="form-control-label">reporter</label>
      <select #reporter="ngModel" name="reporter"
            [(ngModel)]="bug.reporter">
            <!-- (change)="favLangSetValidity($event)"> -->
      <option [ngValue]="null">Select</option>
      <option *ngFor="let reporter of reporters">
        {{reporter}}
      </option>
    </select>
   </div>
   <div class="col-md-6 mb-3">
      <label class="form-control-label">status</label>
      <select #status="ngModel" name="status"
            [(ngModel)]="bug.status" [attr.required]='bug.reporter==="QA"'>
            <!-- (change)="favLangSetValidity($event)"> -->
      <option [ngValue]="null">Select</option>
      <option *ngFor="let status of statusTypes">
        {{status}}
      </option>
    </select>
    <div *ngIf="!bug?.status && status.dirty" style="color:red">
        Field is required
      </div>
   </div>
  </div>
  <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>

</form>


