<form #form="ngForm" class="form" [class.was-validated]="form.invalid && form.dirty"
      (submit)="formSubmit()">

  <div class="form-row" [ngClass]="{'has-error': title.invalid && title.dirty}">
    <div class="col-md-2 mb-3">
      <label class="form-control-label">Title</label>
      <input #title="ngModel" class="form-control" type="text" name="title"
            [(ngModel)]="bug.title"
            required
            minlength="3"
            maxlength="25">
      <div *ngIf="title.invalid && title.dirty" class="invalid-feedback">
        Field is required
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-control-label">description</label>
      <input #description="ngModel" class="form-control" type="text" name="description"
            [(ngModel)]="bug.description"
            required
            minlength="3">
      <div *ngIf="description.invalid && description.dirty" class="invalid-feedback">
        Field is required
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-control-label">Priority</label>
      <select #priority="ngModel" name="priority"
            [(ngModel)]="bug.priority">
            <!-- (change)="favLangSetValidity($event)"> -->
      <option [ngValue]="null">Select</option>
      <option *ngFor="let priority of priorities">
        {{priority}}
      </option>
    </select>
   </div>
   <div class="col-md-6 mb-3">
      <label class="form-control-label">reporter</label>
      <select #reporter="ngModel" name="reporter"
            [(ngModel)]="bug.reporter">
            <!-- (change)="favLangSetValidity($event)"> -->
      <option [ngValue]="null">Select</option>
      <option *ngFor="let reporter of reporters">
        {{reporter}}
      </option>
    </select>
   </div>
   <div class="col-md-6 mb-3">
      <label class="form-control-label">status</label>
      <select #status="ngModel" name="status"
            [(ngModel)]="bug.status" [attr.required]='bug.reporter==="QA"'>
            <!-- (change)="favLangSetValidity($event)"> -->
      <option [ngValue]="null">Select</option>
      <option *ngFor="let status of statusTypes">
        {{status}}
      </option>
    </select>
    <div *ngIf="!bug?.status && status.dirty" style="color:red">
        Field is required
      </div>
   </div>
  </div>
  <button class="btn btn-primary" [disabled]="!form.valid">Submit</button>

</form>





<!-- <div class="col-md-4 mb-3">
    <label class="form-control-label">Last Name</label>
    <input #lastName="ngModel" class="form-control" type="text" name="lastName"
          [ngModel]="model.lastName"
          required>
    <div *ngIf="lastName.invalid && lastName.dirty" class="invalid-feedback">
      Field is required
    </div>
  </div>
</div>

<div class="form-group">
  <div class="form-check">
    <input class="form-check-input" #isExperienced="ngModel" type="checkbox" [(ngModel)]="model.isExperienced" name="isExperienced">
    <label class="form-check-label">I have experience > 2 yrs </label>
  </div>
</div>
<div class="form-group">
<label class="custom-control-label">Angular Preference</label>
<br/>
<input type="radio" name="angular" value="1"
       required
       [(ngModel)]="model.angular"
       #angular="ngModel"
       id="angularjs">
<label for="angularjs">angularJs</label>
<br/>
<input type="radio" name="angular" value="2" required [(ngModel)]="model.angular" #angular2="ngModel" id="angular">
<label for="angular">angular</label>
<div *ngIf="angular.invalid && angular.dirty" class="invalid-feedback">
  Field is required
</div>
</div>
<div class="form-group" [ngClass]="{'has-error': !favouriteLanguageIsValid && favouriteLanguage.dirty}">
  <label class="form-control-label">Favourite Language</label>
  <br/>
  <select #favouriteLanguage="ngModel" name="favouriteLanguage"
          [(ngModel)]="model.favouriteLanguage"
          (change)="favLangSetValidity($event)">
    <option [ngValue]="null">Select</option>
    <option *ngFor="let lang of programmingLanguages">
      {{lang}}
    </option>
  </select>
  <div *ngIf="!favouriteLanguageIsValid && favouriteLanguage.dirty" style="color:red">
    Field is required
  </div>
</div>
<button class="btn btn-primary" [disabled]="!form.valid">Submit</button> -->
